


%p
  %b Номер квартиры:
  = @water_info.user.number_flat
%p
  %b ФИО:
  = @water_info.user.owner
  %b Месяц:
  = @water_info.mont
%p
  %b Текущие показания (С/У):
  = @water_info.water_wc
%p
  %b Текущие показания (кухня):
  = @water_info.water_kitchen
%p
  %b Cons:
  = @water_info.kons_w
%p
  %b Cons:
  = @water_info.kons_k

= link_to 'Редактирование', edit_water_info_path(@water_info)
\|
= link_to 'Back', water_infos_path



